sudo: required
 services:
    - docker

before_install:
  - docker build -t diogomesilva/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true diogomesilva/react-test npm test

after_sucess:
  - docker build -t diogomesilva/multi-client ./client
  - docker build -t diogomesilva/multi-nginx ./nginx
  - docker build -t diogomesilva/multi-server ./server
  - docker build -t diogomesilva/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # Take those images and push them to docker hub
  - docker push diogomesilva/multi-client
  - docker push diogomesilva/multi-nginx
  - docker push diogomesilva/multi-server
  - docker push diogomesilva/multi-worker